.left {
    background-color: #91c9d3;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
}

.right {
    background: url('img/background.png') no-repeat 0 0;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
}

.corgi {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 132px;
    height: 186px;
    margin-left: -66px;
    background: url('img/corgi2.png') no-repeat 0 0;
    transition: bottom 10000ms;
}

body.body-state3 .corgi,
body.body-state4 .corgi{
    bottom: 1000px;
    width: 375px;
    height: 430px;
    margin-left: -187.5px;
    background-image: url('img/balloon2.png');
}

body.body-state1 .corgi {
    transition: none;
}

body.body-state2 .corgi {
    width: 375px;
    height: 430px;
    margin-left: -187.5px;
    background-image: url('img/balloon2.png');
}


.state1, .state2, .state3, .state4, .state5 {
    display: none;
}

body.body-state1 .state1{
    display:block;
}

body.body-state2 .state2{
    display:block;
}

body.body-state3 .state3{
    display:block;
}

body.body-state4 .state4{
    display:block;
}

body.body-state5 .state5{
    display:block;
}

.interface {
    text-align: center;
    padding: 20px;
    font-family: 'Yesteryear', cursive;
    font-size: 36px;
}

a {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}

a.button {
    background-color: #295a61;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}

a.button:hover {
    background-color: #3f8a96;
}